body {
  width: 100%;
  margin: 0;
}

.container {
  background-color: #01161e;
  font-family: sans-serif;
  padding: 0;
}

.topnav {
  width: 100%;
  background-color: #cbe4d9;
  font-size: 1em;
  padding: 1em;
  text-decoration: none;
}

.topnav a {
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-radius: 3%;
  padding: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #8ad4d4;
  cursor: pointer;
}

.cart {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.cart p {
  border: solid black 1px;
  padding: 1rem;
}

.modalContainer {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease; 
}

.modalContainer.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 50%;
  border-radius: 3%;
  padding: 1.5rem;
}

.buyBtn {
  float: right;
  width: 10%;
  height: 2rem;
}

.footer {
  width: 100%;
  background-color: #467579;
  height: 2em;
  text-align: center;
  padding-top: 15px;
}

@media (min-width: 375px) and (max-width: 562px) {
  .container {
    width: 100%;
  }

  .video {
    display: none;
  }
  .topnav {
    width: auto;
    height: 0;
    font-weight: bold;
    padding: 2rem;
  }

  #myLinks a {
    text-decoration: none;
    color: white;
    position: relative;
    text-align: left;
    font-size: 17px;
    padding: 1rem;
    display: block;
    background-color: black;
  }

  .topnav a {
    text-decoration: none;
    font-size: large;
    color: black;
  }

  .topnav a.icon {
    background-color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    transition: 0.5s;
  }

  .topnav a:active {
    background-color: #01161e;
    color: white;
  }
  .infoText {
    width: 70%;
    margin-left: 10%;
  }

  #computer {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 998) {
}

@media (min-width: 999) {
}
