body {
  width: 100%;
  margin: 0;
}

.container {
  background-color: #01161e;
  font-family: sans-serif;
  padding: 0;
}

.topnav {
  width: auto;
  background-color: #cbe4d9;
  font-size: 1em;
  padding: 1em;
  text-decoration: none;
}

.topnav a {
  font-size: 1em;
  font-weight: bold;
  color: black;
  padding: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}
.topnav a:hover {
  background-color: #8ad4d4;
  cursor: pointer;
}

.topnav-Buttons {
  align-items: center;
  text-align: center;
}

.topnav-Buttons button {
  width: 15rem;
  height: 2rem;
  font-size: large;
  border: none;
  background-color: #052c3c;
  color: white;
  border-radius: 5%;
  pointer-events: auto;
  opacity: 1;
  /*position: absolute; Denna gör att jag bara visar ena*/
}

.topnav-Buttons button #openAdminModal {
  width: 15rem;
  height: 2rem;
  font-size: large;
  border: none;
  background-color: #052c3c;
  color: white;
  border-radius: 5%;
  pointer-events: auto;
  opacity: 1;
  display: block;
}

h1 {
  font-size: 1.3rem;
}

#cabin {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.rubrik {
  background: #477a79;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.courses {
  display: grid;
  font-size: 1em;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #477a79;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  width: auto;
  border-radius: 5px;
  background-color: #dce1de58;
  font-weight: bold;
  margin: 2%;
}

#Internetkunskap img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

#ProgSpråk img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

#AI img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

#Cloud img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

#OfficePaketet img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

#OfficePaketet-Advanced img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

#Paint img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

#paint-Advanced img {
  width: 100%;
  margin: 2%;
  border-radius: 5px;
}

.buy {
  font-size: 0.7rem;
  float: right;
  cursor: pointer;
  text-decoration: underline;
}

.buy:hover {
  color: white;
  background-color: #01161e;
  padding: 0.2rem;
  border-radius: 5%;
}

.alert {
  background-color: #158467;
  padding: 1rem;
  position: fixed;
  width: 30%;
  right: 0;
  top: 1rem;
  border-radius: 4%;
  border-left: 8px solid #197163;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.alert.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

.alert .fas {
  /*Check*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #baffb4;
  font-size: 2rem;
}

.alert .close-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #baffb4;
  background-color: #197163;
  padding: 1rem;
  cursor: pointer;
}

.alert .close-btn:hover {
  background-color: #0f0e0e;
}

.close-btn .fa {
  font-size: 1.5rem;
  line-height: 40px;
}

/*Slut på Kurssida*/

/*Admin sida*/

.admin {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.admin.show {
  pointer-events: auto;
  opacity: 1;
}

.admin_Modal_Container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.admin_Modal_Container.show {
  pointer-events: auto;
  opacity: 1;
}

.infoText {
  padding: 20px;
  font-size: 1em;
  width: 50%;
  margin-left: 25%;
  background-color: white;
}

.adminCourseModal {
  background-color: #fff;
  width: 30%;
  border-radius: 3%;
  padding: 1.5rem;
}

.existingCourses ul {
  line-height: 1.5rem;
}

#saveBtn {
  margin-top: 2rem;
}

/*Slut på admin sida.*/

/*Kundvagnssida*/

.kundvagn {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.kundvagn.show {
  pointer-events: auto;
  opacity: 1;
}

.cart {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.cart p {
  border: solid black 1px;
  padding: 1rem;
}

.cart_Modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.cart_Modal.show {
  pointer-events: auto;
  opacity: 1;
}

.cart_Payed_Modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.cart_Payed_Modal.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 50%;
  border-radius: 3%;
  padding: 1.5rem;
}

.buyBtn {
  float: right;
  width: 10%;
  height: 2rem;
}

/*Slut på Kundvagnssida*/
.footer {
  width: 100%;
  background-color: #467579;
  height: 2em;
  text-align: center;
  position: static;
  padding-top: 15px;
}

@media (min-width: 375px) and (max-width: 562px) {
  body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .container {
    width: 100%;
  }

  .topnav {
    width: auto;
    height: 0;
    font-weight: bold;
    padding: 2rem;
  }

  .topnav-Buttons {
    display: none;
    position: absolute;
  }

  #myLinks a {
    text-decoration: none;
    color: white;
    position: relative;
    text-align: left;
    font-size: 17px;
    padding: 1rem;
    display: block;
    background-color: black;
  }

  .topnav a {
    text-decoration: none;
    font-size: large;
    color: black;
  }

  .topnav a.icon {
    background-color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    transition: 0.5s;
  }

  .topnav a:active {
    background-color: #01161e;
    color: white;
  }

  .infoText {
    width: 70%;
    margin-left: 10%;
  }

  #computer {
    width: 80%;
    height: 80%;
  }

  .rubrik {
    width: auto;
    margin: 0;
    padding: 1rem;
  }

  #cabin {
    display: none;
  }

  .courses {
    width: 100%;
    margin: 0;
    display: grid;
    font-size: 1em;
    grid-template-columns: 50% 50%;
    background-color: #477a79;
  }

  .alert {
    width: 90%;
  }
  .admin_Modal {
    max-height: 98vh;
    width: 90%;
    height: auto;
    overflow: scroll;
  }

  .infoText {
    overflow-y: initial;
  }

  .adminCourseModal {
    width: 80%;
  }

  .cart {
    width: 80%;
    height: auto;
    overflow: scroll;
  }

  .buyBtn {
    width: auto;
  }
}

@media (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 998) {
}

@media (min-width: 999) {
}
